/* Let's go */
.header {
    max-width: 1200px;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-minimo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-option {
    display: flex;
}

.menu-option .option:not(:last-child) {
    padding-right: 120px;
}

.menu-option a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.menu-option a::after{
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu-option a:hover::after {
    width: 100%;
    background-color: #626262;
}

.banner {
    max-width: 1200px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.img-banner {
    width: 100%;
}

.introduction {
    max-width: 1200px;
    padding-bottom: 140px;
    margin: 0 auto;
}


.introduction .containner {
    padding: 0 140px;
}

.text-top {
    padding-bottom: 55px ;
}

.text-top a {
    font-size: 14px;  
    font-family: 'Ubuntu', sans-serif;
    color: #c7c1b6;
    text-transform: uppercase;
    text-decoration: none;
}

.introduce-title {
    padding-bottom: 40px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: 300;
}

.description {
    padding-bottom: 55px;
}

.description p{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #c7c1b6;
}

.text-bottom {
    padding-bottom: 135px;
}

.text-bottom a{
    font-size: 14px;  
    font-family: 'Ubuntu', sans-serif;
    color: #c7c1b6;
    text-transform: uppercase;
    text-decoration: none;
}

.about {
    max-width: 1200px;
    padding: 0 150px 125px 150px;
    margin: 0 auto;
}

.about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc((100% - 60px) / 2);
    padding-bottom: 140px;
}

.about-next .item-title{
    padding: 5px 0 40px 0;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: 500;
}
.about .item-title {
    padding: 5px 0 40px 0;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: 500;
}

.img-item {
    width: 100%;
}

.text {
    padding: 30px 0;
}

.text a{
    font-size: 14px;  
    font-family: 'Ubuntu', sans-serif;
    color: #c7c1b6;
    text-transform: uppercase;
    text-decoration: none;
}

.contact {
    margin: 120px 0 105px 0;
    background-color: #f0f0f0;
    width: 100%;
}


.contact .container {
    max-width: 435px;
    margin: 0 auto;
}

.input-title {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    color: #626262;
    padding: 75px 30px 85px 25px;
}

.input-form {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #333;
    padding-bottom: 10px;

}

.input-form input {
    width: calc(100% - 40px);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    background-color: #f0f0f0;
    border: none;
}

.input-form input:focus{
    outline: none;
}

.icon-send {
    padding-bottom: 5px;
}

.icon-send:hover {
    background-color: #626262;
}

.about-next {
    max-width: 1200px;
    padding: 0 150px 125px 150px;
    margin: 0 auto;
}
.about-next .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about P {
    font-size: 14px;
    font-weight: 300;
    color: #c7c1b6;
    font-family: 'Playfair Display', serif;
}
.about-next P {
    font-size: 14px;
    font-weight: 300;
    color: #c7c1b6;
    font-family: 'Playfair Display', serif;
}

.button-load-more .container {
    text-align: center;
    padding-bottom: 170px;
}

.button-load-more .container a {
    font-size: 20px;
    font-family:  'Myriad Pro';
    color: #626262;
    text-decoration: none;
    padding: 20px 40px;
    border: 3px solid #626262;
}

.button-load-more .container a:hover {
    background-color: #333333;
    color: #ffffff;
}

.footer{
    background-color: #f0f0f0;
    width: 100%;
    margin: 0 auto;
}

.footer .container {
    padding: 90px 150px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.text-description, .icon-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-description a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #202020;
    font-family: 'Playfair Display', serif;
    padding-right: 20px;
}

.footer-item {
    font-size: 14px;
    font-weight: 600;
    color: #202020;
    font-family: 'Playfair Display', serif;
    padding-right: 25px;
}

.icon-social-media img {
    padding: 0 18px 5px 18px;
}